@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1 {
  font-family: 'MatrixRegular', sans-serif;
}

#homeTitle {
  font-size: 5rem;
  text-align: center;
  margin-top: 10vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.search-container {
  position: relative;
  width: 50%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

#search {
  width: 100%;
  padding-left: 40px;
  border-radius: 10px;
  border: 1px solid #9ca3af;
  padding: 0.5rem;
  box-sizing: border-box;
  text-indent: 33px;
}

#grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 5vh;
}

#cards {
  height: 50vh;
  width: 15vw;
  object-fit: contain;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonIncreaseNumberCards {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #9ca3af;
  background-color: #f3f4f6;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#buttonIncreaseNumberCards:hover {
  background-color: #e5e7eb;
}